@font-face {
  font-family: "Silhouetta";
  src: url("./assets/fonts/SilhouettaDemoRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sifty";
  src: url("./assets/fonts/SiftyDemo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Violet";
  src: url("./assets/fonts/Violet Dreams DEMO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bumerang";
  src: url("./assets/fonts/BumerangDemoVersionRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vintage";
  src: url("./assets/fonts/VintageAgriqyDemo.otf") format("opentype"),
      url("./asssets/fonts/VintageAgriqyDemo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Italianno";
  src: url("./assets/fonts/Italianno-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Vintage";
  font-size: 5rem;
  margin: 0;
  display: flex;
  // position: absolute;
  // text-transform: uppercase;
}



main{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  // max-width: 1000px;
}

.canvas{
  // max-width: 1500px;
  height: 100vh !important;
}

section{
  // min-height: 100vh;
  // max-height: 100vh;
  // overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  .section-container{
    width: 70%;
    max-width: 1400px;
    min-width: 1000px;
  }
}

.about-me{
  // padding-top: 5rem;
  width: 100%;
  height: 100%;
  // background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  &--container{
    margin-top: 10rem;
    width: 100%;
    height: 100%;
    // background-color: red;
    &--content{
      font-size: 4rem;
      color: rgba($color: #fff, $alpha: 0.5);
      font-family: "Italianno";
      text-align: justify;
      margin: 0;

      &>span{
        color: white;
        position: relative;
        &.Silhouetta{
          font-family: "Silhouetta";
        }
        &.Sifty{
          font-family: "Sifty";
        }
        &.Violet{
          font-family: "Violet";
        }
        &.Bumerang{
          font-family: "Bumerang";
        }
        &.Vintage{
          font-family: "Vintage";
        }
        // transition: text-shadow 2s;
        &:hover{
          // text-shadow: #a76b6b 0 0 30px;
          // transition: text-shadow 0.0s;
      
        }
      }
    }
  }
}